In [87]:
import gspread as gs
import pandas as pd

fk =pd.read_csv(r"https://docs.google.com/spreadsheets/d/185_N7RcbB4uYOh3i5t3MdEQKH8H3owUfOfQakiFEAkY/export?format=csv&gid=114164078")
amzn = pd.read_csv(r"https://docs.google.com/spreadsheets/d/1_lBaxhR-Gc9_LiuqTOurUTvouD7srnxgiJxKrBuxHB4/export?format=csv&gid=101313524")

In [52]:
amzn_product = list(amzn['product_name'])
amzn_product = [x.lower() for x in amzn_product]
fk_product = list(fk['product_name'])
fk_product = [x.lower() for x in fk_product]

In [86]:
product_choice = input("Enter product you want: ")

if (product_choice.lower() in amzn_product and product_choice.lower() in fk_product):
  amzn_idx = amzn_product.index(product_choice.lower())
  fk_idx = fk_product.index(product_choice.lower())
  result = {"Product name in Flipkart" : fk.loc[fk.index == 1, "product_name"].iloc[0],
  "Retail Price in Flipkart" : fk.loc[fk.index == 1, "retail_price"].iloc[0],
  "Discounted Price in Flipkart" : fk.loc[fk.index == 1, "discounted_price"].iloc[0],
  "Product name in Amazon" : amzn.loc[fk.index == 1, "product_name"].iloc[0],
  "Retail Price in Amazon" : amzn.loc[fk.index == 1, "retail_price"].iloc[0],
  "Discounted Price in Amazon" : amzn.loc[fk.index == 1, "discounted_price"].iloc[0]
  }
  
  df = pd.DataFrame(result, index = [1])

df

Enter product you want: aw bellies
Found

,Product name in Flipkart,Retail Price in Flipkart,Discounted Price in Flipkart,Product name in Amazon,Retail Price in Amazon,Discounted Price in Amazon
0,FabHomeDecor Fabric Double Sofa Bed,32157.0,22646.0,FabHomeDecor Fabric Double Sofa Bed,32143,29121